HELP.md
target/
.mvn/
*.pid

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### Angular ###

# dependencies
node_modules/
node/

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db

### Temporary Directories ###
logs/
temp/
uploads/
downloads/
