<!-- ///////////////////////////////////// -->
<!-- //   Graph-Contraction Focus Modal   -->
<!-- ///////////////////////////////////// -->

<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">focus Contraction</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(null)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div #gcy id="gcy" style="width: 450px; height: 400px; margin: 4px 4px 4px 4px;"></div>

</div>
